body {
    background-color:#000639;
    font-family:Helvetica;
}

#title {
    font-size:24px;
    font-weight:bold;
    color:white;
}

#subText {
    font-size:16px;
    font-weight:normal;
    color:white;
}

#notifText {
    font-size:12px;
    font-weight:normal;
    color:#C23628;
}

#submitBtn {
    font-weight:bold;
    color:white;
    background-color:#5c6ac4;
}

#unsubscribe {
    font-size:12px;
    font-weight:normal;
    color:#7B7B7B;
    text-decoration:underline;

    margin-left:50%;
    margin-right:50%;
}