body {
    background-color:#000639;
    font-family:Helvetica;
}

#title {
    font-size:24px;
    font-weight:bold;
    color:white;
}

#subText {
    font-size:16px;
    font-weight:normal;
    color:white;
}